<%- include("header") %>
<h1 class="thank">Thank you...!</h1>
<h2>Your order is placed.</h2>
<p>we  will serve you the delicious food which you have ordered, within  2 minutes.<b>And you can also order some juice to drink.</b></p>
<div class="boxx">
  <form action="/juice" method="post">
    <button type="submit" class="btnnn" name="button">Order Juice</button>
  </form>
</div>
<%- include("footer") %>
